.modal-input {
  max-width: 250px;
  margin-right: 30px;
  border: 1px solid #a970ff;
  border-radius: 10px;
  background-color: #303031;
  color: white;
  padding: 5px;
}

.alert-invalid-link-modal {
  position: relative;
  background-color: rgb(231, 11, 11);
  color: rgb(77, 5, 5);
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
