nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px   ;
}


.nav-emblems{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #18181b;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-family: Comentario2;
    height: 100%;
    width: 200px;
}

nav > div >  ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px   ;
    padding: 0;
    height: 150px;
}

li{
    list-style: none; 
    
}

nav > div >  ul > li> img{
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.button-select-color{
    height: 18px;
    width: 18px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}




.inputs-message{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #18181b;
    padding: 10px;
    border-radius: 20px;
    font-family: Comentario2;
    color: white;
    height: 100%;
    width: 200px;
}

.save-comment{
    background-color: #a970ff;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: Comentario2;
    padding: 8px;
    cursor: pointer;
}

ul > li{
    position: relative;
    width: 18px; 
    height: 18px;
}

.image-selected {
    opacity: 0.4;
    border: 0.5px solid red;
    border-radius: 5px;
}

img{
    border: 0.5px solid transparent;
}

textarea, input{
    font-family: Comentario1;
}

@media (max-width: 512px) and (max-height: 900px) {
    
    h1{
        font-size: 1rem;
    }  

    nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        margin: auto;
        
    }
    


    nav > .nav-emblems, .inputs-message{

        width: 80%;
        margin: auto;
        gap: 10px;
    }   

    

}